# Proteger archivos sensibles
<FilesMatch "^(conexion\.php|seguridad\.php|config_email\.php)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Prevenir listado de directorios
Options -Indexes

# Protección XSS
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
</IfModule>

# Límites de subida
php_value upload_max_filesize 10M
php_value post_max_size 10M
ErrorDocument 404 https://retro-vibes.42web.io/error.php
